* {
  margin: 0;
}
.seccion-principal {
  background-color: pink;
  display: flex;
  flex-direction: row-reverse;
}

.contenido {
  background-color: palegreen;
  width: 80%;
}

aside {
  background-color: coral;
  width: 20%;
}

.seccion-aside {

}

header {
  background-color: yellow;
  height: 300px;
}

section {
  background-color: violet;
  height: 500px;
}

footer {
  background-color: teal;
  height: 300px;
}